<div class="welcome-container text-center">
  <h1 class="welcome-title mb-4">Welcome to the Automatic License Plate Recognition System Management</h1>
  <p class="welcome-description mb-4">Manage your license plate recognition system with ease.</p>
  <div class="buttons">
      <button class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="navigateToSignIn()">Sign In</button>
      <!-- <button class="btn btn-outline-lightning rounded-0 mb-2" (click)="navigateToSignUp()">Sign Up</button> -->
  </div>
</div>
